body {
    background-color: white;
    margin: 80px;
}

p {
    font-size: 16px;
}

/* 1 */

.main {
    text-align: center;
}

.mercury {
    text-align: center;

}

.one {
    text-align: left;
}

.sun {
    color: blue;
}

/* 2 */

.two {
    text-align: right;
}

.system {
    color: blue;
}

/* 3 */

.earth {
    text-align: right;
}

.three {
    text-align: center;
}

.earthtext {
    text-align: center;
}

/* 4 */

.mars {
    text-align: center;
} 

.wikimars {
    color: blue;
}

/* 5 */ 

.jupiter {
    text-align: center;
}

.five {
    text-align: center;
}

.jupitext {
    text-align: center;
}

/* 6 */

.saturn {
    text-align: center;
}

.six {
    text-align: center;
}

.vod {
    color: blue;
}

.gel {
    color: blue;
}

.atm {
    color: blue;
}

/* 7 */

.seven {
    text-align: right;
}

/* 8 */

.neptune {
    text-align: right;
}

.galei {
    color: blue;
}
