*{
    box-sizing: border-box;
}

/* body */
body{
    background-image: url(../img/Rectangle.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

body{
    padding-top: 20px;
    color: white;
}

/* main */

main{
    margin: 0 80px;
}


/* navigation */

header{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.left-side{
    display: flex;
    align-items: center;
}

.right-side{
    display: flex;
    align-items: center;
}
.netflix{
    width: 156px;
    height: 50px;
    padding-right: 15px;
}

.logo-date {
    border-left: 2px solid white;
    padding-left: 15px;
    font-size: 24px;
}

.account{
    padding-left: 25px;
    width: 105px;
    height: 75px;
}

/* genre */

.genre{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
}

.drama{
    padding-right: 17px;
}

.thriller{
    border-left: 2px solid white;
    border-right: 2px solid white;
    padding-left: 17px;
    padding-right: 17px;
}

.super{
    padding-left: 17px;
}

/* name film */

.name{
    margin-top: 15px;
    margin-bottom: 15px;
}

h1{
    font-size: 55px;
    font-family: sans-serif;
}

/* year and grade */

.info-blocks{
    font-size: 30px;
    word-spacing: 5px;
}

.block-year {
    padding-right: 10px;
    border-right: 2px solid white;
}

.block-direction {
    padding-left: 17px;
}

.block-season {
    padding-left: 10px;
    border-left: 2px solid white;
}

.grey-text {
    color: grey;
}

/* info-films */

.info-film{
    height: 100px;
    width: 800px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.info-film{
    color: grey;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

/* button */

.buttons{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* but */

#first-but {
    color: white;
    word-spacing: 10px;
    font-size: 22px;
}

#second-but {
    color: white;
    font-size: 22px;
}

.stream{
    margin-right: 40px;
    background-color: red;
    border: 1px solid red;
    border-radius: 10px;
    width: 270px;
    height: 55px;
}

.stream:hover{
    border: 1px solid white;
}

.episode{
    width: 270px;
    height: 55px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid white;
    border-radius: 10px;
}

.episode:hover{
    border: 1px solid red;
}

/* popular */

.top{
    margin-top: 5px;
    margin-bottom: px;
    width: 900px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-btn{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid rgb(255, 255, 255);
    background-color: transparent;
    color: white;
}

.icon-btn:hover{
    border-color: grey;
    color: grey;
}

/* popular films */

.film{
    margin-top: 30px;
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.photo{
    width: 150px;
    height: 210px;
}

/* +16 */

.main-block{
    position: fixed;
    right: 0%;
    bottom: 100px;
}

.color-block{
    margin-top:-80px;
    float: right;
}

.color-block{
    width: 200px;
    height: 60px;
    background-color: rgb(116, 0, 0);
    text-align: center;
    padding-top: 25px;
    color: rgb(255, 255, 255);
}

.grey-block{
    height: 60px;
    width: 160px;
    margin-top: -26px;
    font-size: 22px;
    background-color: grey;
    float: right;
}

.grey-block{
    display: flex;
    align-items: center;
}
