*{
    box-sizing: border-box;
}

body{
    margin: 0;
    width: 100%;
    background-color: black;
}

.section{
    display: grid;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
}

.btn{
    padding: 15px 30px;
    font-size: 16px;

    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.fill-in{
    background-color: transparent;
    border: 2px solid #0f89fa;
    color: #0f89fa;
}

.glowing{
    background-color: transparent;
    border: 2px solid #0f89fa;
    color: #0f89fa;
}

.fill-up{
    background-color: transparent;
    border: 2px solid #0f89fa;
    color: #0f89fa;
}

.slide{
    background-color: transparent;
    border: 2px solid #0f89fa;
    color: #0f89fa;
}

.raise{
    background-color: transparent;
    border: 2px solid #0f89fa;
    color: #0f89fa;
}

.close{
    background-color: transparent;
    border: 2px solid #0f89fa;
    color: #0f89fa;
}

.notify-me{
    background-color: #0f89fa;
    border: 2px solid #0f89fa;
    color: #000000;
}

.hover-me{
    margin: 20px auto;
	border: none;
	padding: 10px 44px;
	font-size: 36px;
	position: relative;
}

    &::before{
		transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		content: '';
		width: 50%;
		height: 100%;
		background: black;
		position: absolute;
		top: 0;
		left: 0;
    }

.zoom{
    background-color: transparent;
    border: 2px solid #0f89fa;
    color: #0f89fa;
    font-size: 12px;
}

.offset{
        background-color: transparent;
    border-left: 2px solid #0f89fa;
    border-right: 2px solid #0f89fa;
    color: #0f89fa;
}

.explore-more{
    background-color: transparent;
    border: 2px solid #0f89fa;
    color: #0f89fa;
}

.fancy{
    background-color: transparent;
    border: 2px solid #0f89fa;
    color: #0f89fa;
}

.fill-in:hover{
    color: white;
    background-color: #0f89fa;
}

.glowing:hover{
    box-shadow: 0px 0px 75px 0px rgba(0, 117, 255, 1);
}

.fill-up:hover{
    color: white;
    background-color: #0f89fa;
}

.slide:hover{
    color: white;
    background-color: #0f89fa;
}

.raise:hover{
    transform: translate(0,-15px);
    box-shadow: -3px 7px 10px -5px rgba(0, 96, 255, 1);
}

.close:hover{
    color: white;
    background-color: #0f89fa;
}

.notify-me:hover{}

.hover-me:hover{}

.zoom:hover{
    transform: scale(1.2);
    font-size: 14px;
}